<%= form_for user do |u| %>

  <div class="field">
    <%= u.label :email %><br />
    <%= u.email_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= u.label :password %><br />
    <%= u.password_field :password, class: "form-control" %>
  </div>

  <div class="field">
    <%= u.label :password_confirmation %><br />
    <%= u.password_field :password_confirmation, class: "form-control" %>
  </div>

  <br>
  <div class="actions">
    <%= u.submit class:"btn btn-secondary" %>
  </div>
  <br>

<% end %>


